@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.patrick-hand {
  font-family: "Patrick Hand", cursive;
}

.navbarBg {
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0) 20%),
    linear-gradient(to left, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0) 5%),
    linear-gradient(to right, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0) 5%);
  backdrop-filter: blur(40px);
}
