@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default, dim --prefersdark;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.permanent-marker {
  font-family: "Permanent Marker", cursive;
}

.patrick-hand {
  font-family: "Patrick Hand", cursive;
}

.bannerStyle {
  @apply bg-center bg-no-repeat bg-cover;
  background-image: linear-gradient(
      180deg,
      rgb(17, 17, 17, 0),
      rgb(17, 17, 17) 100%
    ),
    url("./assets/banner.jpg");
}
